header {
  border: solid pink 1px;
  padding: 10px;
}

.wrapper {
  border: solid 1px black;
  margin: 30px;
  min-height: 100%;
}

.container {
  border: solid 1px gray;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.menu {
  border: solid 1px brown;
  width: 200px;
  margin-right: 10px;
}

.menu h4 {
  padding: 0px 10px;
}

.chat-room {
  border: solid 1px green;
  padding: 10px;
  width: 100%;
}

.new-message {
  border: solid 1px firebrick;
  margin: 0 5px;
}

.new-message input {
  box-sizing: border-box;
  padding: 10px 5px;
  background: transparent;
  border: none;
  width: 100%;
  font-size: 1em;
}
 
.new-message input:focus{
  outline: 0;
}